*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
}
.header-container{
    padding: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-50{
    width: 50%;
}
ul{
    list-style: none;
}
.head-list{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.head-link{
    color: rgba(0, 0, 0, 0.685);
    font-size: 1.7vh;
    text-decoration: none;
}
.decoration-none{
    text-decoration: none;
}
.white-text{
    color: #fff;
}
.black-text{
    color: black;
}
.right{
    float: right;
    padding-top: 5px;
}
.label{
    padding: 10px 13px;
}
.label-bg-blue{
    background-color: rgb(0, 110, 255);
}
.main-container-lg{
    max-width: 1100px;
    margin: 0 auto;
}
.bg-lightblue{
    background-color: rgb(173, 204, 230);
}
.col-100{
    width: 100%;
}
h1{
    font-size: 7vh;
    font-weight: 800;
    margin-top: 70px;
}
.col-30{    
    width: 30%;
}
.col-70{
    width: 70%;
}
.mg-40-bottom{
    margin-bottom: 40px;
}
.mg-40-top{
    margin-top: 40px;
}
.mg-40-left{
    margin-left: 40px;
}
.icon-size-50{
    font-size: 5vh;
    margin-bottom: 10px;
    margin-top: 30px;
}
.line-height{
    line-height: 20px;
}
.col-70-container{
    position: relative;
}
.jumbo{
    width: 100%;
    position: absolute;
    top: 40px;
}
.main-container-sm{
    max-width: 900px;
    margin: 0 auto;
}
.mg-150-top{
    margin-top: 150px;
}
.subtitle{
    font-size: 4vh;
}
.radio{
    margin: 70px 0px 70px 0px;
}
.billing{
    margin-right: 30px;
}
.col-33{
    width: calc(100% / 3 - 40px);
}
.mg-40-right{
    margin-right: 40px;
}
.top-icon{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgba(70, 69, 69, 0.5);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}
.col-margin{
    margin-right: 25px;
    margin-left: 25px;
}
.top-icon-text{
    margin-left: 5px;
    font-size: 1.5vh;
}
.col-33-container{
    margin-top: 35px;
    margin-bottom: 30px;
}
.grey-text{
    color: rgba(128, 128, 128, 0.658);
}
.mg-20-bottom{
    margin-bottom: 20px;
}
.mg-10-bottom{
    margin-bottom: 10px;
}
.mg-30-bottom{
    margin-bottom: 30px;
}
.mg-50-bottom{
    margin-bottom: 50px;
}
.item{
    display: flex;
    align-items: flex-start
}
.col-33-text{
    margin-left: 5px;
}
.label-two{
    padding: 10px 18px;
    text-align: center;
    margin-top: 40px;
}
.font-size-23{
    font-size: 2.3vh;
}
.font-size-14{
    font-size: 1.5vh;
}
.hr-20{
    width: 20%;
}
.check{
    color: blue;
}
.top-icon-full{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgba(70, 69, 69, 0.5);
    margin-top: 40px;
    width: calc(100% - 40px);
    border-bottom: 0px;
}
.col-70-two{
    width: calc(70% - 40px);
    border: 1px solid rgba(70, 69, 69, 0.5);
    border-right: 0px;
}
.black-border{
    border: 1px solid rgba(70, 69, 69, 0.5);
}
.left-border{
    border-left: 0px;
}
.col-60{
    width: 60%;
}
.main-img{
    width: 100%;
}
.mg-100-top{
    margin-top: 100px;
}
.col-40{
    width: 40%;
}
.col-40-container{
    margin-left: 40px;
    margin-right: 40px;
}
.mg-15-top{
    margin-top: 15px;
}
.label-border-black{
    border: 1px solid black;
}
.mg-100-bottom{
    margin-bottom: 100px;
}
.main-container-full{
    width: 100%;
}
.col-33-two{
    width: calc(100% / 3);
}
.col-25{
    width: 50%;
}
.content-box{
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}
.just-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 50%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.green{
    background-color: #a2d29a;
    border: 15px solid #d0e9cc;
}
.bordeaux{
    background-color: #60082a;
}
.lightblue{
    background-color: #0192ce;
}
.orange{
    background-color: #ff1d1d;
}
.red{
    background-color: #d4001e;
}
.skyblue{
    background-color: #b4d0e7;
}
.blue{
    background-color: #0c2480;
}
.yellow{
    background-color: #fed930;
}
.grey{
    background-color: #f5f4f4;
}
.logo-33{
    width: 50%;
}